<div id="form-display" >
    <div  id="form"  >
         <h3>  update position </h3>
        <form
            [formGroup]="positionControlGroup"
            (ngSubmit)="updatePosition()" >
            <div formGroupName="position" > 
            <mat-form-field style="width: 40%" >
                <mat-label>position name</mat-label>
                <input
                    type="text"
                    matInput
                    placeholder="position name"
                    formControlName="positionName">

            </mat-form-field>
           
            <mat-form-field style="margin-left: 20px; width: 40%;"  >
                <mat-label>position description</mat-label>
                 <input type="text "   formControlName="positionDescription" matInput />
            </mat-form-field>

        </div>
          
    
            <!-- <mat-form-field style="font-size: 12px; width: 50%; padding-left: 100px; " >
               <mat-select matInput multiple formControlName="roleIds" placeholder="select role(s)" style="width: 100%;"  >
                       <mat-option   *ngFor="let roleObject of roles"
                       [value] = "roleObject.id"><h2 style="font-size:12px"> {{roleObject.roleName}} </h2></mat-option>
               </mat-select>
            </mat-form-field> -->
            <div style="width: 70%;font-size: 12px; height: 50vh; overflow-y: scroll; " > 

                <mat-selection-list formControlName="roleIds">
                    <mat-label>select role(s)</mat-label>
                 <mat-list-option *ngFor="let role of roles"   [value]="role.id" color="primary">
                     {{role.roleName}}
                     <p style="font-size: 10px;padding-left: 5px;">{{role.roleDescription}}</p>
                 </mat-list-option>
               </mat-selection-list>
             </div>

         <br>
            
            <button type="submit"  id="submit"  color="primary" mat-raised-button style="width: 15%;"  [disabled]="positionControlGroup.invalid && this.positionControlGroup.controls.roleIds.invalid"><mat-icon>edit</mat-icon>update</button>

        </form>

    </div>
    <button type="button" (click) ="closeDialog()"  color="primary" id="close" color="primary" mat-raised-button style="width: 15%;"><mat-icon>clear</mat-icon>close</button>

</div>